@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 20% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 20% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 150 54% 42%;
    --primary-foreground: 150 60% 98%;
    --secondary: 215 27.9% 80.0%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 90.0%;
    --muted-foreground: 222 47.4% 40.1%;
    --accent: 0 84.2% 60.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 75.1%;
    --input: 215 20.2% 75.1%;
    --ring: 150 54% 42%;
    --chart-1: 0 72% 51%;
    --chart-2: 150 60% 45%;
    --chart-3: 200 80% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 150 54% 52%;
    --primary-foreground: 150 60% 5%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 0 72% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 150 54% 52%;
    --chart-1: 0 72% 51%;
    --chart-2: 150 60% 45%;
    --chart-3: 200 80% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
